@import '~typeface-source-serif-pro';
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Source Serif Pro', Charter, Georgia, system-ui, sans-serif;
  background: #fefdfb;
}

aside,
figcaption,
figure,
main,
menu,
details {
  display: block;
}

figure {
  margin: 0;
}

img {
  border-style: none;
  font-style: italic;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

p:not(:last-of-type) {
  margin-bottom: 1.25rem;
}

.SkillTitle {
  margin-bottom: 1.5rem;
}

.SkillContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.SkillContent {
  font-size: 106.25%;
  line-height: 1.7;
  flex: 0 1 33rem;
}

.SkillCTA {
  color: #d8a75b;
}

.Banner {
  background: #fefdfb;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.23), 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  margin-bottom: 3rem;
  z-index: 1;
}

.BannerPostHeader {
  padding: 1rem;
  flex: 4;
}
.BannerPostHeader > p {
  max-width: 33rem;
  line-height: 1.7;
}

.BannerTitle {
  color: #d8a75b;
  font-size: 1.875rem;
  margin: 0 0 0.5rem;
  text-align: center;
}

.BannerSubtitle {
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.BannerImage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  object-fit: cover;
  vertical-align: middle;
  font-style: italic;
}

.BannerAsideFigure {
  position: relative;
  width: 100%;
  height: 20rem;
}

.BannerLogoContainer {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1rem;
}

.BannerColorOffset {
  position: relative;
}

.BannerColorOffset::after {
  content: '';
  width: 20vw;
  height: 20vh;
  background: rgba(216, 167, 91, 0.5);
  padding: 1rem;
  position: absolute;
  margin: 0;
  right: -0.5rem;
  top: -0.5rem;
  z-index: -1;
}

.ContactContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ContactCell {
  flex: 0 1 18rem;
  margin-bottom: 2rem;
}

.ContactTitle {
  font-size: 1.25rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.ContactButtonLink {
  padding: 0.5rem 2.375rem;
  display: inline-block;
  color: #d8a75b;
  background: #fefdfb;
  text-decoration: none;
  border-radius: 4px;
}

.ContactContent {
  margin-bottom: 1rem;
}

.OfferingContainer {
  margin-bottom: 1rem;
  background: #fefdfb;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.23), 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  padding: 1rem;
}

.OfferingTitle {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.875rem;
}

.OfferingContent {
  font-size: 0.875rem;
  line-height: 1.7;
  text-align: left;
}

.OfferingIcon {
  max-width: 2.5rem;
  max-height: 2.5rem;
  display: block;
  margin: 0 auto;
}

.OfferingIconContainer {
  background-color: #d8a75b;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  padding: 0.75rem 0.25rem;
  margin-bottom: 1.5rem;
}

.OfferingFlex {
  padding: 3rem 0;
}

.Wrapper {
  max-width: 100%;
  color: #687782;
  padding: 3rem;
}

.Wrapper--fixed {
  max-width: 60rem;
  margin: 0 auto;
}

.Wrapper--title {
  padding: 1rem;
}

.PageFooter {
  padding: 0.5rem;
}

.SectionTitle {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center;
}

@media (min-width: 700px) {
  .Banner {
    display: flex;
  }

  .BannerTitle {
    font-size: 2.125rem;
    text-align: left;
    font-weight: 700;
  }
  .BannerPostHeader {
    padding: 5rem 1rem;
  }

  .BannerSubtitle {
    text-align: left;
    font-size: 1.5rem;
  }

  .BannerAsideFigure {
    flex: 2;
    height: auto;
  }

  .BannerLogoContainer {
    text-align: left;
  }

  .BannerColorOffset::after {
    right: -1rem;
    top: -1rem;
  }

  .OfferingContainer {
    max-width: 20rem;
    text-align: center;
  }

  .OfferingContainer:not(:first-of-type) {
    margin-left: 2rem;
  }

  .OfferingContainer div {
    margin-left: auto;
    margin-right: auto;
  }

  .OfferingFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
